extends base

block styles
    link(rel='stylesheet', href='/public/leafletpm/leaflet.pm.css')
block content
    .ui.attached.segment
        .ui.header Add Feature
        form.ui.form
            .ui.error.message
            .field
                span.label Localization
                input(type="hidden", id="lng", name="lng")
                input(type="hidden", id="lat", name="lat")
                input(type="hidden", id="mapId", name="mapId")
                div(style="z-index:999999").ui.fluid.search.selection.dropdown
                    input(type="hidden", name="loc", id="loc")
                    i.dropdown.icon
                    .default.text Select Localization
                    .menu
                        if localizations
                            - each localization in localizations
                                div(data-value="#{localization}").item #{localization}
            .field
                input(type="submit").ui.button.green
    #map
block scripts
    script(type="text/javascript", src="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js")
    script(type="text/javascript", src="/public/leafletpm/leaflet.pm.min.js")
    script(type="text/javascript", src="/public/editor.js")
    script().
        renderMap('#{iid}');
        localizations = !{JSON.stringify(localizations)};
        writeMapId('#{iid}');